@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1684844358623') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check-circle:before {
  content: "\e77d";
}

.icon-left-circle:before {
  content: "\e77f";
}

.icon-down-circle:before {
  content: "\e780";
}

.icon-minus-circle:before {
  content: "\e781";
}

.icon-right-circle:before {
  content: "\e783";
}

.icon-timeout:before {
  content: "\e784";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-unlock:before {
  content: "\e7ca";
}

.icon-lock:before {
  content: "\e7cb";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-star:before {
  content: "\e7e0";
}

.icon-check:before {
  content: "\e7fc";
}

.icon-close:before {
  content: "\e7fd";
}

.icon-shouqi:before {
  content: "\e609";
}

